body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Quitar el puntito en las listas*/
ul, ol {
    list-style: none;
} 
/* Eliminar la decoración (el subrayado) en los enlaces*/
 a {
    text-decoration: none;
}



.seccion-1 img {
    width: 300px;
    height: 350px;
    object-fit: cover;

}

.acerca-de {
    width: 400px;
    text-align: end;
    padding: 2.5em;
}
.seccion-1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}


.seccion-2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#footer {
    background-color: rgb(41, 26, 8);
    color: white;
    padding: 1em;
    text-align: start;
}

header {
    background-color: rgba(34, 33, 31, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

header nav ul {
    display: flex;
    gap: 1.5em;
}

header li, a {
    color: white;
    font-size: 1.1em;
}

#footer a i.fa-solid.fa-star.fa-xl{
    position: fixed;
    bottom: 39px;
    right: 39px;
}



/* General para los 3 cards */
.cursos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
}

.card-figure {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    margin: 0px;
}
.card-figure img {
    position: absolute;
    margin: auto;
    height: 200%;
    left: 0;
    right: 0;
    bottom: -90px;
    transform: rotate(10deg);
   }
   .card__text {
    padding: 2rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.DISCOVER {
    text-align: center;
    color: orange;
    font-size: small;
    letter-spacing: 2px;
    cursor: pointer;
}

/* Características para cada uno */
 .card-figure.uno {  
    background: linear-gradient(90deg, rgb(231, 37, 37), rgb(98, 43, 226));
}

.card-figure.uno img {
 filter: drop-shadow(0 0 6px red);
}


.card-figure.dos {
    background: linear-gradient(90deg, rgb(231, 153, 37), rgb(113, 185, 226));
}

.card-figure.dos img {
 filter: drop-shadow(0 0 6px rgb(251, 255, 0));
}

.card-figure.tres {
    background: linear-gradient(90deg, rgb(111, 170, 129), rgb(209, 120, 162));
}

.card-figure.tres img {
 filter: drop-shadow(0 0 6px rgb(10, 25, 160));
}


/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    background-color: white;
  }
